div.MathJax_Display {
    display: inline !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "ibm-plex-sans","Helvetica Neue", "HelveticaNeue", "HelvRegularIBM", "Helvetica", Arial, sans-serif !important;
}

body {
	font-family: "ibm-plex-sans","Helvetica Neue", "HelveticaNeue", "HelvRegularIBM", "Helvetica", Arial, sans-serif !important;
}

pre {
    font-family: "ibm-plex-mono","Helvetica Neue", "HelveticaNeue", "HelvRegularIBM", "Helvetica", Arial, sans-serif !important;
}
